
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared style */
  .display-flex{
    display: flex;
  }
.text-gray{
    color: #424242;
}
.text-primary{
    color: #FF900E;
}
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgb(255,144,14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
  
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

  /* header style */
  /* navber style */
.navbar {
      justify-content: space-between;
      align-items: center;
  }
  .brand{
font-weight: 700;
font-size: 3rem;
 }
   .nav-item{
    list-style: none;
    margin-right: 30px;
  }
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner style */
    .banner-content {
        max-width: 850px;
        margin: 0 auto;
        text-align: center;
        margin-bottom:50px ;
    }
    .banner-title{
        font-weight: 700;
        font-size: 64px;
    }
    .banner-image{
        width: 100%;
    }

/* team style */


    .teams{
        align-items: center;
    }
    .team-img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }
    .our-section{
        margin-left: 130px;
        max-width: 537px;
        height: 304px;
    }
  
    #quick-list{
        font-weight: 500;
    }
    .section-description{
        font-size: 1rem;
        font-weight: 400;
        width: 540px
        
    }

    /* feAture section style */
    #feature-section-title{
         border-left: 5px solid #FF900E ;
         padding-left: 21px ;
    }
    .feature-card, .feature-title{
        font-weight: 600;
        font-size:1.25rem;
        margin-top: 0px;
        margin-bottom: 0px;
       
    }
    .feature-card{
        padding: 30px;
        box-shadow: 0 4px 30px 0  rgb(0,0,0, 0.06);
        margin-bottom: 20px;
        border-radius: 8px;

    }
    .feature-card{
        width: 586px;
        height: 171px;
    }
    .features{
        gap: 140px;
        
    }
    .feature-containe{
                width: 586px; ;
                height: 982px;
    }
    .photo{
        width: 100%;
        height: 100%;
    }
    #experience-badge{
        padding: 45px 42px;
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: -100px;
        margin-top: -100px;

    }
    #experience-year{
        font-size: 4rem;
        font-weight: 700;
    }






    /* some fact styles */


    .facts > h3{
        margin-bottom: 18px;
    }
    .fact-card{
        border: 1px solid #FF900E;
        width: 240px;
        height: 240px;
        border-radius: 8px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

}
  .fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  .fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
  }  
  .fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
  }
  .fact-description{
    width:540px;
  }
    
  /* sponsor related style */
  .sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-compnies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-compnies img{
    filter: grayscale(100%);
}










    
    /* responsive media query */
    @media screen and (max-width:576px){
        .nav-links, .navbar, .teams{
            flex-direction: column;
        }
        .team-img-container, .fact-container, .sponsor-compnies{
            grid-template-columns:repeat(1, 1fr);
        }
       
        .our-features{
            margin-left: 10px;
        }
        .fact-container{
            justify-items: center;
            gap:24px
        }
        .sponsor-compnies{
            justify-items: center;
            gap: 50px;
        }
        .our-section{
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
        .facts{
            height: 100%;
        }
        ##experience-badge{
            margin-top: 20px;
            margin-left: 20px;
        }
    } 
  
    /* medium size device responsive */
@media screen and (min-width:576px) and (max-width:992px){
    .teams .features{
        flex-direction: column;
    }

        .our-features{
            margin-left: 50px auto;
        }
   .fact-container{
    grid-template-columns: (2, 1fr);
   } 
.sponsor-compnies{
    grid-template-columns: repeat(3, 1fr);
    gap:50px;
    justify-items: center;
}
##experience-badge{
    margin-top: 20px;
    margin-left: 20px;
}
}
